        body{
            background-color: #ffffff;
            margin: 0;
        }
        a{
            text-decoration: none;
            transition: color 0.2s ease;
            color: #4444aa;
        }
        a:hover{
            color: #aaaaaa;
        }
        #site-title{
            height: fit-content;
        }

        #site-name{
            margin-left: 20px;
        }

        #header-area{
            background-color: black;
            height: auto;
        }
        #header-content-wrapper{
            display: flex;
        }
        #top-menu{
            margin-left: auto;
            height: auto;
        }
        #top-menu-table {
        display: flex;
        flex-direction: row;
        width: 100%;
        }

        #top-menu-table a {
        flex: 1;        
        display: block;     
        text-align: center; 
        padding: 2rem;
        background-color: black;
        color: white;
        transition: background-color 0.3s ease;
        }

        #top-menu-table a:hover {
        background-color: azure;
        }


        #content{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        
        #footer{
            background-color: #cccccc;
            display: flex;
            flex-direction: column;
        }

        #footer-links{
            margin-left: auto;
            margin-right: auto;
        }

        table#footer-links-contents{
            border-collapse: separate;
            border-spacing: 70px 1px;
        }

    hr {
        border: none;          /* デフォルトの線を消す */
        border-top: 2px solid #aaaaaa; /* 上側に線を描く */
        margin: 20px 30px 0px 30px;        /* 上下の余白 */
    }


        #footer-logo{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
        }

        #footer-logo h3{
            margin-left: auto;
            margin-right: auto;
        }

        .btn{
            display: inline-block;
            padding: 0.5rem 1rem;
            /* border: 0.1px solid #000000; */
            border-radius: 50px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            transition: box-shadow 0.3s ease, color 0.3s ease;
            color: #333333;

        }
        .btn:hover {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            color: #aaaaaa;

        }
        .btn:active {
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
            
        }

h2 {
  position: relative;
  display: inline-block; /* h2 の幅を文字に合わせる */
}

h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 180%; /* ← ここで長さ調整 */
  height: 3px;
  left: -200px;
  background: #333;
  margin-top: 5px;
}