    <footer id="footer">
        <div id="footer-content">
            <table id="footer-links-contents">
                <thead>
                    <tr>
                        <th>STReam Project</th>
                        <th>Links</th>
                        <th>Legal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">About Vision</a></td>
                        <td><a href="#">SNS (Twitter)</a></td>
                        <td><a href="#">Privacy Policy</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Roadmap</a></td>
                        <td><a href="#">Instagram</a></td>
                        <td><a href="#">Terms of Service</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Join us</a></td>
                        <td><a href="#">Contact</a></td>
                        <td><a href="#">Copyright</a></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div id="footer-bottom">
                <div id="site-title" style="font-size: 1.2rem;">STReam</div>
                <small id="copyright">© 2025 STReam Project, Cemlo All rights reserved.</small>
                <p class="ai-credit">
                    このウェブサイトは生成AIを活用してデザインされました。<br>STReamは、今後も信頼性と効率性を両立した生成AIの使い方を追求して参ります。
                </p>
            </div>
        </div>
    </footer>
